/*NavBar*/
.title{
    padding-top: 5px;
    width: 600px;
    height:60px;
    max-height:15%;
    max-width:600px;
    align-content: center;
}
.material-icons{
    color:black;
    padding-top: .25%;
    float:left;
}
.topnav{
    color:black;
    text-decoration: bold;
    font-family: Bahnschrift Condensed;
    font-size:17px;
}
.sidenav{
    font-family: Bahnschrift Condensed;
    font-size:17px;
}
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
@media (min-width: 1200px)  {
.brand-logo {
    margin-top: 5px;
    width: 40%;
    }
}
@media (min-width: 900px) and (max-width: 1200px) {
.brand-logo {
    margin-top: 5px;
    width: 50%;
    }}
@media (max-width: 480px) {
.brand-logo {
    width: 50%;
    height: auto;
    }}

.material-icons {
    color: #ffbf00;
}

/*Form*/
body {
font-family: Bahnschrift Condensed;
}

#main {
width: 60%;
margin: auto;
padding: 10px;
margin-top: 20px;
background-color: white;
}

label {
width: 150px;
display: inline-block;
}

button {
display: block;
margin-top: 50px;

}

#header1 h1{
    width: 140%;
    margin-left:-10%;
    font-family: Bahnschrift Condensed;
    font-size: 50px;
}
#solo{
    font-weight: bold;
    color: #ffbf00;
    font-family:Bahnschrift Condensed;
    text-transform:uppercase;
    letter-spacing:5px;
}
