/* Sarah */

h1, h2, h5, p, form {
    text-align: center;
}

p {
    margin-left: 30px;
    margin-right: 30px;
}

.logo-img {
    max-height: 50px;
    max-width: 50px;
    padding: 5px;
}
/*.contact_form {
    margin: 30px 10px 10px 10px;
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid gray; */
}

body {
    text-align: center;
}

form {
    border: 1px solid gray;
    display: inline-block;
}

.contact_form {
    Padding: 30px;
}

.text-area {
    padding: 20px;
}