/*NavBar*/
.title{
    padding-top: 5px;
    width: 600px;
    height:60px;
    max-height:15%;
    max-width:600px;
    align-content: center;
    }
.material-icons{
    color:black;
    padding-top: .25%;
    float:left;
}
.topnav{
    color:black;
    text-decoration: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:17px;
}
.sidenav{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:17px;
}
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
@media (min-width: 1200px)  {
.brand-logo {
    margin-top: 5px;
    width: 40%;
    }
}
@media (min-width: 900px) and (max-width: 1200px) {
.brand-logo {
    margin-top: 5px;
    width: 50%;
    }}
@media (max-width: 480px) {
.brand-logo {
    width: 50%;
    height: auto;
    }}

.material-icons {
    color: #ffbf00;
}
#submitForm {
    color: white;
font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
}

/*Footer*/
.page-footer{
    background-color: #ffbf00;
font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}



/* Contact Page */
h1, h2, h5, p, form {
    text-align: center;
font-family: 'Roboto Condensed', sans-serif;
}

p {
    margin-left: 30px;
    margin-right: 30px;
}

#contact_form {
    Padding: 30px;
    width: 100%;
}

.text-area {
    padding: 20px;
}

.btn{
font-family: 'Roboto Condensed', sans-serif;
    color: white;
    margin-top: 15px;
 }