/* Sarah */

h1 {
    text-align: center;
}

.logo-img {
    max-height: 50px;
    max-width: 50px;
    padding: 5px;
}

.contact_form {
    margin: 30px 10px 10px 10px;
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid gray;
}

.blurb {
    text-align: center;
}

.btn waves-effect waves-light {
    color: blue;
}