/* Eddie */

.brand-logo {
    width: 50%;
}

.topnav {
    color: black;
}

.faq {
    color: black;
}

.frequently {
    color: #ffbf00;
}

.solo {
    color: #ffbf00;
}

.material-icons {
    color: #ffbf00;   
}

.collapsible-header:hover {
    background-color: #cecece;
    transition: background-color 700ms;
}