<<<<<<< HEAD
.logo{
    width:15%;
    float:left;
    padding: 20px;
}
.title{
    float:right;
    padding-top:50px;
    width: 80%;
}
.contentWrapper {
	max-width: 1250px;
	margin: 0 auto;	
}
=======
/* Amanda */

<style>
</style>
>>>>>>> 088ccb690f4c0446bddcea7a9ebd385260e74606
