/*NavBar*/
.title{
    padding-top: 5px;
    width: 600px;
    height:60px;
    max-height:15%;
    max-width:600px;
    align-content: center;
}
.material-icons{
    color:black;
    padding-top: .25%;
    float:left;
}
.topnav{
    color:black;
    text-decoration: bold;
font-family: 'Roboto Condensed', sans-serif;
    font-size:17px;
}
.sidenav{
font-family: 'Roboto Condensed', sans-serif;
    font-size:17px;
}
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
@media (min-width: 1200px)  {
.brand-logo {
    margin-top: 5px;
    width: 40%;
    }
}
@media (min-width: 900px) and (max-width: 1200px) {
.brand-logo {
    margin-top: 5px;
    width: 50%;
    }}
@media (max-width: 480px) {
.brand-logo {
    width: 50%;
    height: auto;
    }}

.material-icons {
    color: #ffbf00;
}

/*Parallax*/
.banner {
    width:100%;
    border-top: 5px solid #ffbf00;
    border-bottom: 5px solid #ffbf00;}
div.transbox {
    text-align: center;
    float: right;
    height:80px;
    width: 500px;
    background-color:#ffbf00;
}
div.transbox a{
    margin: 5%;
    font-weight: bold;
    color: #ffffff;
    font-size:40px;
font-family: 'Roboto Condensed', sans-serif;
    text-transform:uppercase;
    letter-spacing:5px;
}
.parallax {
   background-attachment:fixed;
   background-size: 900% auto;
 }
/*Paragraph*/
.description, h4{
font-family: 'Roboto Condensed', sans-serif;
}

/*Card*/
div.card{
    width: 275px;
    height: 300px;
}
.card-title{
font-family: 'Roboto Condensed', sans-serif;
    text-transform:uppercase;
    color:#ffbf00;
}
.cardlogo1{
    height:35px;
    margin-left: 92%;
    margin-top:-10px;
}

img.activator{
    height:300px;
    width:300px;
}
.section-header{
    font-weight: bold;
    color: #000000;
font-family: 'Roboto Condensed', sans-serif;
    text-transform:uppercase;
    letter-spacing:5px;
    display:inline-block;
}
.solo{
   font-weight: bold;
    color: #ffbf00;
font-family: 'Roboto Condensed', sans-serif;
    text-transform:uppercase;
    letter-spacing:5px;
    display:inline-block; 
}
/*Button*/
.ButtonTextColor{
    color:white;
}

/*Slideshow*/
#image1, #image2, #image3{
    height: 340px;
    width: 340px;
    float: left;
    padding: 2px;
}

#imageslides{
    margin:auto;
}

/*Footer*/
.page-footer{
    background-color: #ffbf00;
font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}