/* Amanda */
.title{
    padding-top: 5px;
    width: 600px;
    height:60px;
    max-height:15%;
    max-width:600px;
    align-content: center;
}
.material-icons{
    color:black;
    padding-top: .25%;
    float:left;
}
.topnav{
    color:black;
    text-decoration: bold;
}
.banner {
    width:100%;
    border-top: 5px solid #ffbf00;
    border-bottom: 5px solid #ffbf00;
}
div.transbox {
    text-align: center;
    height:90px;
    width: 900px;
}

div.transbox a{
    margin: 5%;
    font-weight: bold;
    color: #ffbf00;
    font-size:40px;
    font-family:Bahnschrift Condensed;
    text-transform:uppercase;
    letter-spacing:5px;
}
div.transbox a:hover{
    text-shadow: 1px 1px #ffbf00;
}

div.card{
    width:350px;
    height: 350px;
}
img.activator{
    height:100%;
    width:100%;
}
.card-title{
    font-family: Bahnschrift Condensed;
    text-transform:uppercase;
    color:#ffbf00;
}
.cardlogo1{
    height:35px;
    margin-left: 92%;
    margin-top:-10px;
}
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

.columnWrapper {
	float: left;
	width: 90%;	
}
.cardmargin1 {
    float: left;
    width: 30%;
    margin-top: 2%;
    margin-left: 2%;
}
.parallax {
   background-attachment:fixed;
   background-size: 900% auto;
 }
@media (min-width: 1200px)  {
.brand-logo {
    margin-top: 5px;
    width: 40%;
    }}
@media (min-width: 900px) and (max-width: 1200px) {
.brand-logo {
    margin-top: 5px;
    width: 50%;
    }}
@media (max-width: 480px) {
.brand-logo {
    width: 50%;
    height: auto;
    }}