/* Eddie */

/*NavBar*/
.title{
    padding-top: 5px;
    width: 600px;
    height:60px;
    max-height:15%;
    max-width:600px;
    align-content: center;
}
.material-icons{
    color:black;
    padding-top: .25%;
    float:left;
}
.topnav{
    color:black;
    text-decoration: bold;
    font-family: Bahnschrift Condensed;
    font-size:17px;
}
.sidenav{
    font-family: Bahnschrift Condensed;
    font-size:17px;
}
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
@media (min-width: 1200px)  {
.brand-logo {
    margin-top: 5px;
    width: 40%;
    }
}
@media (min-width: 900px) and (max-width: 1200px) {
.brand-logo {
    margin-top: 5px;
    width: 50%;
    }}
@media (max-width: 480px) {
.brand-logo {
    width: 50%;
    height: auto;
    }}

.material-icons {
    color: #ffbf00;
}

.about {
    padding: 3px;
}

/*Footer*/
.page-footer{
    background-color: #ffbf00;
    font-family:Bahnschrift Condensed;
    text-transform: uppercase;
    clear: both;
}


/* Info Page */
.banner {
    text-align: center;
    color: white;
    background: black;
    opacity: .75;
    padding: 1px;
    font-family:Bahnschrift Condensed;
}

h2 {
    text-shadow: 2px 0px red;
}

.paragraph {
    text-align: center;
    font-family: Bahnschrift Condensed;
}

.solo {
    color: #ffbf00;
}

ul.tabs {
    color: black;
    font-family:Bahnschrift Condensed;
}

.paragraph {
    padding-top: 30px
}
