/* Eddie */

.brand-logo {
    width: 50%;
}

.topnav {
    color: black;
    padding: 5px;
}

.banner {
    text-align: center;
    background: #ffbf00;
    padding: 1px
}

.paragraph {
    text-align: center;
}

.solo {
    color: #ffbf00;
}

ul.tabs {
    color: black;
}

.paragraph {
    padding-top: 30px
}
