a {
	font-weight: bold;
font-family: 'Roboto Condensed', sans-serif;
}
h4 {
	margin-top: .5em;
	margin-bottom: .3em;
font-family: 'Roboto Condensed', sans-serif;

}
p {
	margin-top: 0;
font-family: 'Roboto Condensed', sans-serif;

}
body{
font-family: 'Roboto Condensed', sans-serif;
}
#header{
    background-color: #ffbf00;
}
#teammember{
    background-color: #ffbf00;
}
#teamleader{
    background-color: #ffbf00;
}
#footer{
    background-color: #ffbf00;
}